@import url('https://fonts.googleapis.com/css?family=Exo|Montserrat|Poppins|Roboto|Cinzel|Muli');
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Dancing+Script|Marck+Script|Monoton|Parisienne|Zhi+Mang+Xing&display=swap');

body {
  font-family: 'Montserrat';
  font-size: 16px;

  color: #fff;

  background-color: #1F2129;

  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
