@import url('https://fonts.googleapis.com/css?family=Exo|Montserrat|Poppins');

#main {
  font-family: 'Montserrat';
  font-size: 18px;

  max-width: 1440px;

  padding: 0 20px;
  margin: 0 auto;
}

p {
  margin: 0;
}
